body {
    margin: 0;
    background: hsl(0, 0%, 15%);
    text-align: center;
}
canvas {
    display: block;
    margin: auto;
    margin-top: 5vh;
}
button {
    display: inline-block;
    margin-top: 5px;
    font-size: xx-large;
    background: none;
    border: none;
    outline: none;
}
button::selection {
    background: none;
}
