body {
    margin: 0;
    background: hsl(0, 0%, 15%);
}
canvas {
    display: block;
    margin: auto;
    margin-top: 5vh;
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
    /* For this project specifically because the controls are emojis */
    background: none;
    border: none;
    outline: none;
}
button::selection {
    background: none;
}
